body {
    /*background-color: #03080B;*/
    
    background-color: #141615;
}
a {
    color: #CA2721;
}
a:hover {
    color:black;

}
#banner-bmx {
    text-align: center;
    font-size: 60px;
    color:white;
}
/*#navbar {
    font-size: 30px;
}*/
.button, .button:hover {
    color: #CA2721;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
}
.button p {
    text-align: center;
}
.button img {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.button img:hover, .button p:hover {
    background-color: #CA2721 !important;
    border-bottom: solid #CA2721 2px;
    color: white;
    text-decoration: none;
}
/*.panel-heading {
    font-size: 30px;
}*/
#welcome-separator {
    height: 5px;
    background-color: #CA2721;
    margin-bottom: 1em;
    margin-top: 1em;
}
.form-horizontal input.ng-invalid.ng-touched {
    background-color: #FA787E;
}
.form-horizontal input.ng-valid.ng-touched {
    background-color: #78FA89;
}
