<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">BMX Canejan</a>-->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a id="home" class="menu" href="#/">Home</a>
                </li>
                <li><a id="club" class="menu" href="#/club">Club</a>
                </li>
                <li><a id="animation" class="menu" href="#/animation">Animations</a>
                </li>
                <li><a id="competition" class="menu" href="#/compet">Competition</a>
                </li>
                <li class="active"><a id="admin" class="menu" href="#/admin">Admin</a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<div class="container admin-main">
    <div id="entrainements" class="panel panel-default">
        <div class="panel-heading">Evenements</div>
        <div class="panel-body">
            <ul>
                <li ng-repeat="event in events">
                    <button ng-click="showEvent(event)"> {{event.titre}}</button> <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" ng-click="removeEvent(event)"></span>
                    <!--<button type="button" class="btn btn-danger" ng-click="remove(event)">Supprimer</button>-->
                </li>
            </ul>
            <button type="button" class="btn btn-default" ng-click="showNewEvent()"> Nouvel Evenement</button>
        </div>
    </div>
</div>

<!-- Modal for creating a new event -->
<div class="modal fade" id="event-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Evenement</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="input-event-title" class="col-sm-2 control-label">Titre
                        </label>
                        <div class="col-sm-10">
                            <input id="input-event-title" type="text" ng-model="event_modal.titre" />
                            <br />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-event-start" class="col-sm-2 control-label">Du
                        </label>
                        <div class="col-sm-10">
                            <input id="input-event-start" type="date" ng-model="event_modal.du" />
                            <br />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-event-end" class="col-sm-2 control-label">Au
                        </label>
                        <div class="col-sm-10">
                            <input id="input-event-end" type="date" ng-model="event_modal.au" />
                            <br />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-event-url" class="col-sm-2 control-label">Site Web
                        </label>
                        <div class="col-sm-10">
                            <input id="input-event-url" type="url" ng-model="event_modal.url" />
                            <br />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="event_modal.inscription"> Inscription
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="event_modal.inscription">
                        <label for="input-event-inscription" class="col-sm-2 control-label">Date Limite d'Inscription
                        </label>
                        <div class="col-sm-10">
                            <input id="input-event-inscription" type="date" ng-model="event_modal.date_inscription" />
                            <br />
                        </div>
                    </div>
                </form>
                
                <div class="col-sm-3">Inscriptions Actuelles<a id="csv_download" href="">(CSV)</a></div>
                <div class="col-sm-9 col-sm-offset-3" ng-repeat="inscription in event_modal.inscriptions">
                        {{inscription.nom}} {{inscription.prenom}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" ng-click="saveModalEvent()">Sauver</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
