<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">BMX Canejan</a>-->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a id="home" class="menu" href="#/">Home</a>
                </li>
                <li><a id="club" class="menu" href="#/club">Club</a>
                </li>
                <li class="active"><a id="animation" class="menu" href="#/animation">Animations</a>
                </li>
                <li><a id="competition" class="menu" href="#/compet">Competition</a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<div class="container">
    <nav class="sidebar top" id="affix-nav">
        <ul class="nav sidenav affix" data-spy="affix">
            <li>
                <a href="#entrainements" ng-click="$event.preventDefault() ; scrollInto('entrainements')">Entrainements</a>
            </li>
            <li>
                <a href="#stages" ng-click="$event.preventDefault() ; scrollInto('stages')">Stages</a>
            </li>
        </ul>
    </nav>


    <div class="main-content">

        <div class="jumbotron">
            <h1>BMX Entrainement à Canéjan</h1>
            <p>Bla bla bla</p>
        </div>

        <div id="entrainements" class="panel panel-default">
            <div class="panel-heading">Entrainements</div>
            <div class="panel-body">
                <strong>Groupe 1 (débutant)</strong>
                <br>
                <table class="table table-hover">
                    <tr>
                        <th>Jours</th>
                        <th>Créneau</th>
                    </tr>
                    <tr>
                        <td>Mercredi</td>
                        <td>14h00-15h30</td>
                    </tr>
                    <tr>
                        <td>Samedi</td>
                        <td>9h30-11h00</td>
                    </tr>
                </table>
                <br>
                <strong>Groupe 2 (confirmé)</strong>
                <br>
                <table class="table table-hover">
                    <tr>
                        <th>Jours</th>
                        <th>Créneau</th>
                    </tr>
                    <tr>
                        <td>Mercredi</td>
                        <td>15h30-17h00</td>
                    </tr>
                    <tr>
                        <td>Samedi</td>
                        <td>11h15-12h45</td>
                    </tr>
                </table>
                <br>
                <strong>Groupe 3 (expert)</strong>
                <br>
                <table class="table table-hover">
                    <tr>
                        <th>Jours</th>
                        <th>Créneau</th>
                    </tr>
                    <tr>
                        <td>Mardi</td>
                        <td>17h45-19h15</td>
                    </tr>
                    <tr>
                        <td>Vendredi</td>
                        <td>18h00-19h30</td>
                    </tr>
                </table>
                <br>
                <strong>Groupe 4 </strong>
                <br>
                <table class="table table-hover">
                    <tr>
                        <th>Jours</th>
                        <th>Créneau</th>
                    </tr>
                    <tr>
                        <td>Mardi</td>
                        <td>19h00-21h00</td>
                    </tr>
                    <tr>
                        <td>Mercredi</td>
                        <td>18h30-20h30</td>
                    </tr>
                    <tr>
                        <td>Vendredi</td>
                        <td>19h30-21h00</td>
                    </tr>
                </table>
                <br>
                <strong>Groupe 5 </strong>
                <br>
                <table class="table table-hover">
                    <tr>
                        <th>Jours</th>
                        <th>Créneau</th>
                    </tr>
                    <tr>
                        <td>Mardi</td>
                        <td>19h00-21h00</td>
                    </tr>
                    <tr>
                        <td>Mercredi</td>
                        <td>18h30-20h30</td>
                    </tr>
                    <tr>
                        <td>Jeudi</td>
                        <td>19h00-21h00</td>
                    </tr>
                    <tr>
                        <td>Vendredi</td>
                        <td>19h30-21h00</td>
                    </tr>
                </table>
                <br>
                <strong>Groupe Adulte Loisir </strong>
                <br>
                <table class="table table-hover">
                    <tr>
                        <th>Jours</th>
                        <th>Créneau</th>
                    </tr>
                    <tr>
                        <td>Lundi</td>
                        <td>18h00-21h00</td>
                    </tr>
                </table>
            </div>
        </div>


        <div id="stages" class="panel panel-default">
            <div class="panel-heading">Stages</div>
            <div class="panel-body">
            </div>
        </div>

    </div>

    <div class="twitter">
        <a class="twitter-timeline" href="https://twitter.com/CANEJAN_BMX" width="238" height="500" data-widget-id="551445936065757185">Tweets de @CANEJAN_BMX</a>
        <script>
        ! function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + "://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "twitter-wjs");
        </script>
    </div>
</div>
