 <!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!--<div class="container">-->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="#">BMX Canejan</a>-->
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a id="home" class="menu" href="#/">Home</a></li>
        <li class="active"><a id="club" class="menu" href="#/club">Club</a></li>
        <li><a id="competition" class="menu" href="#/entrainement">Entrainement</a></li>
        <li><a id="competition" class="menu" href="#/compet">Compet</a></li>
      </ul>
    </div>

  <!--</div>-->
</nav>

<div class="container">
	<div class="row" waypoint >
		<div class="col-md-10 affixscrolled">
			<div class="jumbotron">
			  <h1>BMX Club Canéjan</h1>
			  <p>Amateurs, initiés ou compétiteurs, venez nous rejoindre pour pratiquer le BMX, votre sport. Nous sommes tous des passionnés pret à vous accueillir sur notre magnifique piste. De plus, notre équipe d'encadrants, composée d'un brevet d'état salarié, d'un brevet fédéral niveau 2 bénévole et de 3 brevets fédéral niveau 1 eux aussi bénévoles, saura vous faire progresser pour atteindre vos objectifs.</p>
			</div>

			<div id="contact" class="panel panel-default scrolled-section">
				<div class="panel-heading">Nous contacter</div>
				<div class="panel-body">

					<address>
					  <strong>Contact Mail</strong><br>
					  <a href="mailto:#">contact@canejan-bmx-club.com</a>
					</address>

					<address>
					  <strong>Secrétariat</strong><br>
					  <a href="mailto:#">laurence@canejan-bmx-club.com</a>
					</address>

					<address>
					  <strong>Président</strong><br>
					  M. Fabrice Bagnère<br>
					  <a href="mailto:#">fabrice@canejan-bmx-club.com</a>
					</address>

					<address>
					  <strong>Service Inscription Stage</strong><br>
					  <a href="mailto:#">inscription@canejan-bmx-club.com</a>
					</address>

					<address>
					  <strong>Permanence Téléphonique</strong><br>
					  mercredi 9H-12H30 et 14H-18H, samedi 9H30-12H30<br>
					  <abbr title="tel">T:</abbr> 09 52 68 97 10
					</address>

				</div>
			</div>

			<div id="localisation" class="panel panel-default scrolled-section">
				<div class="panel-heading">Venir au Club</div>
				<div class="panel-body">
				<address>
				  <strong>Adresse Postale</strong><br>
				  Canéjan Bmx Club.<br>
				  Stade des Peyrères, chemin des Peyrères<br>
				  33610 Canéjan
				</address>
				<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d4533.240836399214!2d-0.6477419549371767!3d44.7609027902455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sbmx+club+can%C3%A9jan!5e1!3m2!1sfr!2sfr!4v1418491032583" width="600" height="450" frameborder="0" style="border:0"></iframe>
				</div>
			</div>

			<div id="tarifs" class="panel panel-default scrolled-section">
				<div class="panel-heading">Tarifs</div>
				<div class="panel-body">

					<table class="table table-hover">
						<tr>
							<th>Type de Licence</th>
							<th>Cout (€)</th>
						</tr>
						<tr>
							<td>Jeunes</td>
							<td>41€</td>
						</tr>
						<tr>
							<td>Compétitions</td>
						</tr>
						<tr>
							<td>1ère Catégorie</td>
							<td>181€</td>
						</tr>
						<tr>
							<td>2ème Catégorie</td>
							<td>146€</td>
						</tr>
						<tr>
							<td>3ème Catégorie</td>
							<td>106€</td>
						</tr>
						<tr>
							<td>Junior</td>
							<td>77€</td>
						</tr>
						<tr>
							<td>Cyclisme pour tous</td>
						</tr>
						<tr>
							<td>Pass-cylclisme open</td>
							<td>90€</td>
						</tr>
						<tr>
							<td>Pass'cyclisme</td>
							<td>58€</td>
						</tr>
						<tr>
							<td>Pass'cyclosportive</td>
							<td>43€</td>
						</tr>
						<tr>
							<td>Pass'sport nature</td>
							<td>43€</td>
						</tr>
						<tr>
							<td>Pass'port urbain</td>
							<td>43€</td>
						</tr>
						<tr>
							<td>Pass'loisir</td>
							<td>36€</td>
						</tr>
					</table>
				</div>
			</div>

			<div id="location" class="panel panel-default scrolled-section">
				<div class="panel-heading">Location de vélo</div>
				<div class="panel-body">
					<p>Pour les adhérents, le club propose de louer des vélos.  42 vélos disponibles dans le cadre du projet club  <strong>BMX pour tous</strong>.<p>
					<p> 135 € la location annuelle.</p>
				</div>
			</div>

			<div id="activite" class="panel panel-default scrolled-section">
				<div class="panel-heading">Organisation d'activité encadrée</div>
				<div class="panel-body">
					<p>Nous proposons ces activités encadrées par un éducateur brevet d’état salarié du club.</p>
					<p>Accueil de centre de loisirs (CSLH) pendant les vacances scolaires.</p>
					<p>Point fort Aventure Gironde (juillet et août) en partenariat avec le Conseil Général</p>
					<p>Accompagnement éducatif pour les collèges</p>
					<p>Activités péri-scolaires pour les primaires</p>
				</div>
			</div>

			<div id="statuts" class="panel panel-default scrolled-section">
				<div class="panel-heading">Statuts</div>
				<div class="panel-body">
				</div>
			</div>
		</div>
	</div>
</div>