<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">BMX Canejan</a>-->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a id="home" class="menu" href="#/">Home</a>
                </li>
                <li class="active"><a id="club" class="menu" href="#/club">Club</a>
                </li>
                <li><a id="competition" class="menu" href="#/animation">Animations</a>
                </li>
                <li><a id="competition" class="menu" href="#/compet">Competition</a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<div class="container">

    <nav class="sidebar top" id="affix-nav">
        <ul class="nav sidenav affix" data-spy="affix">
            <li>
                <a href="#historique" ng-click="$event.preventDefault() ; scrollInto('historique')">Historique</a>
            </li>
            <li>
                <a href="#contact" ng-click="$event.preventDefault() ; scrollInto('contact')">Contact</a>
            </li>
            <li>
                <a href="#localisation" ng-click="$event.preventDefault() ; scrollInto('localisation')">Localisation</a>
            </li>
            <li>
                <a href="#dirigeant" ng-click="$event.preventDefault() ; scrollInto('dirigeant')">Dirigeants</a>
            </li>
            <li>
                <a href="#partenaires" ng-click="$event.preventDefault() ; scrollInto('partenaires')">Partenaires</a>
            </li>
            <li>
                <a href="#statuts" ng-click="$event.preventDefault() ; scrollInto('statuts')">Statuts</a>
            </li>
            <li>
                <a href="#boutique" ng-click="$event.preventDefault() ; scrollInto('boutique')">Boutique</a>
            </li>
            <li>
                <a href="#tarifs" ng-click="$event.preventDefault() ; scrollInto('tarifs')">Tarifs</a>
            </li>
        </ul>
    </nav>


    <!--<div class="container main-content">-->
    <div class="main-content">

        <div class="jumbotron">
            <h1>BMX Club Canéjan</h1>
            <p>Amateurs, initiés ou compétiteurs, venez nous rejoindre pour pratiquer le BMX, votre sport. Nous sommes tous des passionnés pret à vous accueillir sur notre magnifique piste. De plus, notre équipe d'encadrants, composée d'un brevet d'état salarié, d'un brevet fédéral niveau 2 bénévole et de 3 brevets fédéral niveau 1 eux aussi bénévoles, saura vous faire progresser pour atteindre vos objectifs.</p>
        </div>

        <div id="historique" class="panel panel-default">
            <div class="panel-heading">Historique</div>
            <div class="panel-body">
            </div>
        </div>

        <div id="contact" class="panel panel-default">
            <div class="panel-heading">Nous contacter</div>
            <div class="panel-body">

                <address>
                    <strong>Club</strong>
                    <br>
                    <a href="mailto:#">contact@canejan-bmx-club.com</a>
                </address>

                <address>
                    <strong>Secrétariat</strong>
                    <br> Laurence
                    <br>
                    <a href="mailto:#">laurence@canejan-bmx-club.com</a>
                </address>

                <address>
                    <strong>Permanences Téléphonique</strong>
                    <br> mercredi 9H-18H00, jeudi 9H-18h00, Vendredi 11h00-20h00 et samedi 9H00-16H30
                    <br>
                    <abbr title="tel">T:</abbr> 09 52 68 97 10
                </address>


                <address>
                    <strong>Coach</strong>
                    <br> Aurélien
                    <br>
                    <a href="mailto:#">aurelien@canejan-bmx-club.com</a>
                    <abbr title="tel">T:</abbr> 06 xx xx xx
                </address>

                <address>
                    <strong>Président</strong>
                    <br> Fabrice
                    <br>
                    <a href="mailto:#">fabrice@canejan-bmx-club.com</a>
                    <abbr title="tel">T:</abbr> 06 30 29 82 09
                </address>

            </div>
        </div>


        <div id="localisation" class="panel panel-default">
            <div class="panel-heading">Venir au Club</div>
            <div class="panel-body">
                <address>
                    <strong>Adresse Postale</strong>
                    <br> Canéjan Bmx Club.
                    <br> Stade des Peyrères, chemin des Peyrères
                    <br> 33610 Canéjan
                </address>
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d4533.240836399214!2d-0.6477419549371767!3d44.7609027902455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sbmx+club+can%C3%A9jan!5e1!3m2!1sfr!2sfr!4v1418491032583" width="600" height="450" frameborder="0" style="border:0"></iframe>
            </div>
        </div>

        <div id="dirigeant" class="panel panel-default">
            <div class="panel-heading">Equipe Dirigeante</div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="img/trombi/trombi1.jpg" alt="...">
                            <div class="caption">
                                <h3>Inconnu</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="img/trombi/trombi2.jpg" alt="...">
                            <div class="caption">
                                <h3>Inconnu</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="img/trombi/trombi1.jpg" alt="...">
                            <div class="caption">
                                <h3>Inconnu</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="img/trombi/trombi2.jpg" alt="...">
                            <div class="caption">
                                <h3>Inconnu</h3>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div id="partenaires" class="panel panel-default">
            <div class="panel-heading">Partenaires</div>
            <div class="panel-body">
            </div>
        </div>

        <div id="statuts" class="panel panel-default">
            <div class="panel-heading">Statuts</div>
            <div class="panel-body">
            </div>
        </div>

        <div id="boutique" class="panel panel-default">
            <div class="panel-heading">Boutique</div>
            <div class="panel-body">
            </div>
        </div>

        <div id="tarifs" class="panel panel-default">
            <div class="panel-heading">Tarifs</div>
            <div class="panel-body">

                <table class="table table-hover">
                    <tr>
                        <th>Type de Licence</th>
                        <th>Cout (€)</th>
                    </tr>
                    <tr>
                        <td>Jeunes</td>
                        <td>41€</td>
                    </tr>
                    <tr>
                        <td>Compétitions</td>
                    </tr>
                    <tr>
                        <td>1ère Catégorie</td>
                        <td>181€</td>
                    </tr>
                    <tr>
                        <td>2ème Catégorie</td>
                        <td>146€</td>
                    </tr>
                    <tr>
                        <td>3ème Catégorie</td>
                        <td>106€</td>
                    </tr>
                    <tr>
                        <td>Junior</td>
                        <td>77€</td>
                    </tr>
                    <tr>
                        <td>Cyclisme pour tous</td>
                    </tr>
                    <tr>
                        <td>Pass-cylclisme open</td>
                        <td>90€</td>
                    </tr>
                    <tr>
                        <td>Pass'cyclisme</td>
                        <td>58€</td>
                    </tr>
                    <tr>
                        <td>Pass'cyclosportive</td>
                        <td>43€</td>
                    </tr>
                    <tr>
                        <td>Pass'sport nature</td>
                        <td>43€</td>
                    </tr>
                    <tr>
                        <td>Pass'port urbain</td>
                        <td>43€</td>
                    </tr>
                    <tr>
                        <td>Pass'loisir</td>
                        <td>36€</td>
                    </tr>
                </table>
            </div>
        </div>




    </div>

    <div class="twitter">
        <a class="twitter-timeline" href="https://twitter.com/CANEJAN_BMX" width="238" height="500" data-widget-id="551445936065757185">Tweets de @CANEJAN_BMX</a>
        <script>
        ! function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + "://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "twitter-wjs");
        </script>
    </div>

</div>
