<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">BMX Canejan</a>-->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a id="home" class="menu" href="#/">Acceuil</a>
                </li>
                <li class="active"><a id="club" class="menu" href="#/club">Club</a>
                </li>
                <li><a id="competition" class="menu" href="#/animation">Animations</a>
                </li>
                <li><a id="competition" class="menu" href="#/compet">Competition</a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<div class="container">

    <nav class="sidebar top" id="affix-nav">
        <ul class="nav sidenav affix" data-spy="affix">
            <li>
                <a href="#historique" ng-click="$event.preventDefault() ; scrollInto('historique')">Historique</a>
            </li>
            <li>
                <a href="#contact" ng-click="$event.preventDefault() ; scrollInto('contact')">Contact</a>
            </li>
            <li>
                <a href="#localisation" ng-click="$event.preventDefault() ; scrollInto('localisation')">Localisation</a>
            </li>
            <li>
                <a href="#dirigeant" ng-click="$event.preventDefault() ; scrollInto('dirigeant')">Dirigeants</a>
            </li>
            <li>
                <a href="#partenaires" ng-click="$event.preventDefault() ; scrollInto('partenaires')">Partenaires</a>
            </li>
            <li>
                <a href="#statuts" ng-click="$event.preventDefault() ; scrollInto('statuts')">Statuts</a>
            </li>
            <li>
                <a href="#boutique" ng-click="$event.preventDefault() ; scrollInto('boutique')">Boutique</a>
            </li>
            <li>
                <a href="#tarifs" ng-click="$event.preventDefault() ; scrollInto('tarifs')">Tarifs</a>
            </li>
        </ul>
    </nav>


    <!--<div class="container main-content">-->
    <div class="main-content">

        <div class="jumbotron">
            <h1>BMX Club Canéjan</h1>
            <p>Amateurs, initiés ou compétiteurs, venez nous rejoindre pour pratiquer le BMX Race,un sport en pleine expansion, discipline olympique depuis les jeux de Pékin en 2008. Nous sommes tous des passionnés prêt à vous accueillir sur notre piste réputée, une des plus belles d'Aquitaine. </p>
            <p>
            De plus, notre équipe d'encadrants, composée d'un salarié,diplômé d’état(DEJEPS) et d’entraîneurs clubs bénévoles,  saura vous faire progresser pour atteindre vos objectifs.</p>
            <p>Notre secrétaire comptable,salarié de l'association vous accueillera aux horaires des permanences pour vous transmettre toutes les informations nécessaires a la vie du club.
            </p>
        </div>

        <div id="historique" class="panel panel-default">
            <div class="panel-heading">Historique</div>
            <div class="panel-body">
            <p>Le club de BMX de Canejan est né en 1987,affilié a l’époque à l'AFB (Association Française de Bicross), il portait le nom de Boby club. Aujourd'hui, Canejan BMX club Aquitaine est affilié a la FFC (Fédération Française de Cyclisme). Depuis quelques années, notre association voit son nombre d’adhérents croissant lui permettre d’être l'un des plus gros club cycliste, toutes disciplines confondues en Aquitaine avec une moyenne de 140 licenciés. Nous avons enregistré lors de la saison 2012/2013 le record de participation en Aquitaine pour une course inter-régionale en accueillant plus de 650 pilotes sur une journée de course. Au fil des saisons, Canejan BMX a vu grand nombre de ces pilotes accéder aux différents titres Départementaux, Régionaux, inter régionaux,Nationaux voir Européen avec le sacre d'un de nos pilote en 2012 dans la catégorie Boy 9 ans.
            </p>
            </div>
        </div>

        <div id="contact" class="panel panel-default">
            <div class="panel-heading">Nous contacter</div>
            <div class="panel-body">

                <address>
                    <strong>Club</strong>
                    <br>
                    <a href="mailto:contact@canejan-bmx-club.com">contact@canejan-bmx-club.com</a>
                </address>

                <address>
                    <strong>Secrétariat</strong>
                    <br> Laurence
                    <br>
                    <a href="mailto:laurence@canejan-bmx-club.com">laurence@canejan-bmx-club.com</a>
                </address>

                <address>
                    <strong>Permanences Téléphonique</strong>
                    <br> mercredi 9H-18H00, jeudi 9H-18h00, Vendredi 11h00-20h00 et samedi 9H00-16H30
                    <br>
                    <a href="tel:952689710">Tel: 09 52 68 97 10 </a>
                </address>


                <address>
                    <strong>Coach</strong>
                    <br> Aurélien
                    <br>
                    <a href="mailto:aurelien@canejan-bmx-club.com">aurelien@canejan-bmx-club.com</a>
                    <a href="tel:#">Tel: 06 xx xx xx</a>
                </address>

                <address>
                    <strong>Président</strong>
                    <br> Fabrice
                    <br>
                    <a href="mailto:fabrice@canejan-bmx-club.com">fabrice@canejan-bmx-club.com</a>
                    <a href="tel:630298209"> Tel: 06 30 29 82 09</a>
                </address>

            </div>
        </div>


        <div id="localisation" class="panel panel-default">
            <div class="panel-heading">Venir au Club</div>
            <div class="panel-body">
                <address>
                    <strong>Adresse Postale</strong>
                    <br> Canéjan Bmx Club.
                    <br> Stade des Peyrères, chemin des Peyrères
                    <br> 33610 Canéjan
                </address>
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d4533.240836399214!2d-0.6477419549371767!3d44.7609027902455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sbmx+club+can%C3%A9jan!5e1!3m2!1sfr!2sfr!4v1418491032583" width="600" height="450" frameborder="0" style="border:0"></iframe>
            </div>
        </div>

        <div id="dirigeant" class="panel panel-default">
            <div class="panel-heading">Equipe Dirigeante</div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="img/trombi/trombi1.jpg" alt="...">
                            <div class="caption">
                                <h3>Inconnu</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="img/trombi/trombi2.jpg" alt="...">
                            <div class="caption">
                                <h3>Inconnu</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="img/trombi/trombi1.jpg" alt="...">
                            <div class="caption">
                                <h3>Inconnu</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="img/trombi/trombi2.jpg" alt="...">
                            <div class="caption">
                                <h3>Inconnu</h3>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div id="partenaires" class="panel panel-default">
            <div class="panel-heading">Partenaires</div>
            <div class="panel-body">
            </div>
        </div>

        <div id="statuts" class="panel panel-default">
            <div class="panel-heading">Statuts</div>
            <div class="panel-body">
                <div> <a href="data/statuts.pdf">Les statuts du club</a>
                </div>
                <div> <a href="data/reglement_interieur.pdf">Le règlement intérieur du club</a>
                </div>
            </div>
        </div>

        <div id="boutique" class="panel panel-default">
            <div class="panel-heading">Boutique</div>
            <div class="panel-body">
                Bientôt ici tous les produits vendus par le club (tee-shirt, etc.)
            </div>
        </div>

        <div id="tarifs" class="panel panel-default">
            <div class="panel-heading">Tarifs FFC</div>
            <div class="panel-body">

                <table class="table table-hover">
                    <tr>
                        <th>Type de Licence</th>
                        <th>Cout (€)</th>
                    </tr>
                    <tr>
                        <td>Jeunes (pré-licenciés, poussons, pupilles, benjamins, minimes, cadets)</td>
                        <td>44€</td>
                    </tr>
                    <tr>
                        <td>Compétitions</td>
                    </tr>
                    <tr>
                        <td>1ère Catégorie</td>
                        <td>190€</td>
                    </tr>
                    <tr>
                        <td>2ème Catégorie</td>
                        <td>150€</td>
                    </tr>
                    <tr>
                        <td>3ème Catégorie</td>
                        <td>110€</td>
                    </tr>
                    <tr>
                        <td>Junior</td>
                        <td>80€</td>
                    </tr>
                    <tr>
                        <td>Cyclisme pour tous</td>
                    </tr>
                    <tr>
                        <td>Pass-cylclisme open</td>
                        <td>99€</td>
                    </tr>
                    <tr>
                        <td>Pass'cyclisme</td>
                        <td>60€</td>
                    </tr>
                </table>
            </div>
        </div>




    </div>

    <div class="twitter">
        <a class="twitter-timeline" href="http://twitter.com/CANEJAN_BMX" width="238" height="500" data-widget-id="551445936065757185">Tweets de @CANEJAN_BMX</a>
    </div>

</div>
