<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">BMX Canejan</a>-->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a id="home" class="menu" href="#/">Home</a>
                </li>
                <li><a id="club" class="menu" href="#/club">Club</a>
                </li>
                <li><a id="animation" class="menu" href="#/animation">Animations</a>
                </li>
                <li class="active"><a id="competition" class="menu" href="#/compet">Competition</a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<div class="container">

    <nav class="sidebar top" id="affix-nav">
        <ul class="nav sidenav affix" data-spy="affix">
            <li>
                <a href="#guide" ng-click="$event.preventDefault() ; scrollInto('guide')">Guide</a>
            </li>
            <li>
                <a href="#calendrier" ng-click="$event.preventDefault() ; scrollInto('calendrier')">Calendrier</a>
            </li>
            <li>
                <a href="#inscriptions" ng-click="$event.preventDefault() ; scrollInto('inscriptions')">Inscriptions</a>
            </li>

        </ul>
    </nav>


    <div class="main-content">

        <div class="jumbotron">
            <h1>BMX Compétition à Canéjan</h1>
            <p>Vous trouverez ici toutes les informations relatives aux compétitions, et vous pourrez y vous pré-inscrire.</p>
        </div>

        <div id="guide" class="panel panel-default">
            <div class="panel-heading">Guide</div>
            <div class="panel-body">
            Bientôt ici le guide indispensable pour participer à une compétition.
            </div>
        </div>

        <div id="calendrier" class="panel panel-default">
            <div class="panel-heading">Calendrier</div>
            <div class="panel-body">

                <h3>{{calendar.getTitle()}}</h3>

                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" ng-click="calendar.navigate('prev')">
                        << Avant </button>
                            <button type="button" class="btn btn-default" ng-click="calendar.navigate('today')">Aujourd'hui</button>
                            <button type="button" class="btn btn-default" ng-click="calendar.navigate('next')">Après >></button>
                </div>

                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" ng-click="calendar.view('year')"> Année </button>
                    <button type="button" class="btn btn-default" ng-click="calendar.view('month')">Moi</button>
                    <button type="button" class="btn btn-default" ng-click="calendar.view('week')">Semaine</button>
                </div>

                <div id="calendar"></div>
            </div>
        </div>

        <div id="inscriptions" class="panel panel-default">
            <div class="panel-heading">Inscriptions Ouvertes</div>
            <div class="panel-body">

                <div class="col-sm-12" ng-repeat="inscription in inscriptions_ouvertes">
                    <div class="col-sm-4">{{inscription.titre}}</div>
                    <div class="col-sm-2">{{inscription.lieux}}</div>
                    <div class="col-sm-3">{{inscription.date | date:'d / M / y'}}</div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-default" ng-click="showInscrits(inscription)">Liste Inscrits</button>
                    </div>
                </div>

                <div class="col-sm-12">

                    <button type="button" class="btn btn-default" ng-click="showModal()">S'inscrire à une compétition</button>
                </div>
            </div>
        </div>



    </div>

    <div class="twitter">
        <a class="twitter-timeline" href="https://twitter.com/CANEJAN_BMX" width="238" height="500" data-widget-id="551445936065757185">Tweets de @CANEJAN_BMX</a>
        <script>
        ! function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + "://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "twitter-wjs");
        </script>
    </div>

</div>

<div class="modal fade" id="inscription-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span>
                </button>
                <h4 class="modal-title">Inscription à une compétition</h4>
            </div>
            <div class="modal-body">
                <!--<div ng-hide="form_inscription.$saved" class="alert alert-warning" role="alert">-->
                <div ng-show="form_inscription.form_event_id.$error.required || form_inscription.form_nom.$error.required || form_inscription.form_prenom.$error.required || form_inscription.form_email.$error.required || form_inscription.form_plaque.$error.required" class="alert alert-warning" role="alert">
                    <div ng-show="form_inscription.form_event_id.$error.required">
                        Vous devez choisir une compétition</div>
                    <div ng-show="form_inscription.form_nom.$error.required">
                        Vous devez saisir votre nom
                    </div>
                    <div ng-show="form_inscription.form_prenom.$error.required">
                        Vous devez saisir votre prénom
                    </div>
                    <div ng-show="form_inscription.form_naissance.$error.required">
                        Vous devez saisir votre date de naissance
                    </div>
                    <div ng-show="form_inscription.form_email.$error.required">
                        Vous devez saisir votre email
                    </div>
                    <div ng-show="form_inscription.form_plaque.$error.required">
                        Vous devez saisir votre numéro de plaque
                    </div>
                </div>




                <!--</div>-->
                <form novalidate class="form-horizontal" name="form_inscription">

                    <div class="form-group">
                        <label for="input-inscription-competition" class="col-sm-2 control-label">Competition
                        </label>
                        <div class="col-sm-10">
                            <select required id="input-inscription-competition" name="form_event_id" class="form-control" ng-model="new_inscription.event_id">
                                <option ng-repeat="inscription in inscriptions_ouvertes" value="{{inscription._id}}">{{inscription.titre}} , ({{inscription.lieux}}) , {{inscription.date.getDate()}} / {{inscription.date.getMonth()+1}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-inscription-nom" class="col-sm-2 control-label">Nom
                        </label>
                        <div class="col-sm-10">
                            <input required id="input-inscription-nom" name="form_nom" type="text" ng-model="new_inscription.nom" />
                            <br />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-inscription-prenom" class="col-sm-2 control-label">Prénom
                        </label>
                        <div class="col-sm-10">
                            <input required id="input-inscription-prenom" name="form_prenom" type="text" ng-model="new_inscription.prenom" />
                            <br />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-inscription-naissance" class="col-sm-2 control-label">Date de naissance
                        </label>
                        <div class="col-sm-10">
                            <input required id="input-inscription-naissance" name="form_naissance" type="number" ng-model="new_inscription.naissance" min="1920" max"2010" maxlength="4" size="4"/>
                            <br />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-inscription-categorie" class="col-sm-2 control-label">Catégorie
                        </label>
                        <div class="col-sm-10">
                            <input required id="input-inscription-categorie" name="form_categorie" type="text" ng-model="new_inscription.categorie" ng-model-options="{ getterSetter: true }" readonly />
                            <br />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-inscription-email" class="col-sm-2 control-label">e-mail
                        </label>
                        <div class="col-sm-10">
                            <input required id="input-inscription-email" name="form_email" type="email" ng-model="new_inscription.email" />
                            <br />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-inscription-bike" class="col-sm-2 control-label">Votre inscription
                        </label>
                        <div class="col-sm-10 checkbox">
                            <input id="input-inscription-bike" type="checkbox" ng-model="new_inscription.vingt" /> Je m'inscris en 20 pouces
                            <br />
                        </div>
                        <div class="col-sm-10 col-sm-offset-2 checkbox">
                            <input id="input-inscription-bike" type="checkbox" value="cruiser" ng-model="new_inscription.cruiser" /> Je m'inscris en cruiser
                            <br />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-inscription-plaque" class="col-sm-2 control-label">Numéro de plaque
                        </label>
                        <div class="col-sm-10">
                            <input required id="input-inscription-plaque" name="form_plaque" type="text" ng-model="new_inscription.plaque" />
                            <br />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-inscription-arbitre" class="col-sm-2 control-label">Souhaitez-vous être arbitre ?
                        </label>
                        <div class="col-sm-10 checkbox">
                            <input id="input-inscription-arbitre" type="checkbox" ng-model="new_inscription.arbitre" />
                        </div>
                    </div>
                    <div class="form-group" ng-show="new_inscription.arbitre">
                        <label for="input-inscription-arbitre-quand" class="col-sm-2 control-label">Quand?
                        </label>
                        <div class="col-sm-10 checkbox">
                            <input id="input-inscription-arbitre-quand" type="checkbox" ng-model="new_inscription.arbitre_matin" /> le matin
                            <br />
                        </div>
                        <div class="col-sm-10 col-sm-offset-2 checkbox">
                            <input id="input-inscription-arbitre-quand" type="checkbox" ng-model="new_inscription.arbitre_soir" /> l'après-midi
                            <br />
                        </div>
                    </div>
                </form>
                <div ng-show="new_inscription.success" class="alert alert-success" role="alert">
                    <b>Bravo</b>, Inscription effectuée, Celle-ci sera visible d'ici quelques instants!
                </div>
                <div ng-show="new_inscription.already" class="alert alert-warning" role="alert">
                    <b>Attention</b>, Vous êtes déjà inscrits à cette compétition avec ce nom et ce prénom.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary" ng-click="saveNewInscription()">Valider</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div class="modal fade" id="liste-inscrits">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span>
                </button>
                <h4 class="modal-title">Liste des inscrits</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li ng-repeat="inscrit in show_inscrits">{{inscrit.nom}}, {{inscrit.prenom}}</li>
                </ul>
                <!--<div ng-hide="form_inscription.$saved" class="alert alert-warning" role="alert">-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
