      <div id="welcome-dl" class="button">
    <a href="https://twitter.com/XavierBlanc1" class="twitter-follow-button" data-show-count="false">Follow @XavierBlanc1</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>

      <div id="welcome-logo">
          <!--<p><img src="/img/logo.jpg" alt="BMX Canejan" width="600" /></p>-->
          <video id="video" src="./img/movie/movie.mp4" width="500" height="281" autoplay loop></video>
          <p class="welcome-desc">BMX Club Canéjan</p>
      </div>


      <div id="welcome-separator"></div>
        <div id="welcome-ep"> 
          <a class="button ep index-ep" href="#/club">
            <span class="glyphicon glyphicon-user"></span> <span class="index-link">Club</span>
          </a>
          <a class="button ep index-ep" href="#/entrainement">
            <span class="glyphicon glyphicon-fire"></span> Entrainement
          </a>
          <a class="button ep index-ep" href="#/compet">
            <span class="glyphicon glyphicon-flash"></span> Compet
          </a>
        </div>
      </div> 

